.locationWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 5%;
}

.location {
    font-family: "Arabella", sans-serif;
    font-size: 20em;
    font-style: italic;
    color: rgb(102, 45, 19);
    font-size: clamp(6rem, 30vw, 20em);
}

.cityStreetAndAdress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Arabella", sans-serif;
    font-size: 4em;
    font-style: italic;
    color: rgb(102, 45, 19);

    @media (375px <=width <=440px) {
        font-size: 2rem;
    }
}

.locationFirstPhoto {
    margin-top: 2%;

    @media (375px <=width <=440px) {
        width: 85%;
    }
}

.showLocationMap {
    width: clamp(5rem, 78vw, 33rem);
    height: clamp(1vh, 4vh, 5rem);
    margin: 2% 0 5% 0;
    padding: 0.2em 1rem 0.4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: "Arabella", sans-serif;
    font-size: clamp(1rem, 11vw, 4rem);
    cursor: pointer;
    border: 2px rgb(102, 45, 19) solid;
    background: none;
    color: rgb(102, 45, 19);

    @media (375px <=width <=440px) {
        margin: 5% 0 5% 0;
    }
}