.locationWrapper {
    display: flex;
    justify-content: center;
    width: 60%;
    height: auto;
}


h2 {
    font-family: "Arabella", sans-serif;
    font-size: 200px;
    font-style: italic;
    color: rgb(102, 45, 19);
}