.openedEnvelopeWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 2s ease;
    margin-top: 10%;

    @media (375px <=width <=440px) {
        width: 100%;
        height: 100%;
        margin-top: 20%;
        margin-bottom: 10%;
    }
}

.coloredBackground {
    width: min(100%, 1200px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid rgb(102, 45, 19);
    border-radius: 100% 100% 0 0 / 100% 100% 0 0;
    transform: scale(1.2);
    background: linear-gradient(135deg, #f3ebdb 0%, #e9dcc4 45%, #d9c8a8 100%);
    overflow: hidden;
}

.openedEnvelope {
    width: 90%;
    height: 90%;
    transform:
        translateX(5.5%) translateY(6%);

    @media (375px <=width <=440px) {
        transform:
            translateX(-3%) translateY(6%);
    }
}

.beadsWrapper {
    width: 50%;
    height: 80%;
    position: absolute;
    overflow: hidden;
    aspect-ratio: 1000 / 500;
    transform:
        scale(0.73) translateX(135%) translateY(30%) rotateX(0deg) rotateY(180deg) rotateZ(-25deg);

    @media (min-width:375px) and (max-width: 440px) {
        width: 60%;
        height: 100%;
        transform:
            scale(0.6) translateX(120%) translateY(33%) rotateX(0deg) rotateY(180deg) rotateZ(-35deg);
    }
}