.flowersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 10%;
    opacity: 0;
    transition: opacity 2s ease;

    @media (375px <=width <=440px) {
        margin-top: 10%;
    }

    .flowersUpWrapper,
    .flowersUp,
    .flowersDownWrapper,
    .flowersDown {
        width: 30vw;

        @media (375px <=width <=440px) {
            width: 65vw;
        }
    }

    .flowersUpWrapper {
        margin-left: clamp(30vw, 68vw, 80vw);
    }

    .flowersDownWrapper {
        transform: translateY(-50%) translateX(-15%);
        margin-right: clamp(30vw, 45vw, 80vw);
    }

    .flowerWrapperMessage {
        transform: translateY(-45%) translateX(-4%);
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -1;

        .celebration {
            margin-bottom: 10%;
            word-break: break-word;
            font-family: "Arabella", sans-serif;
            font-size: 2.5em;
            font-style: italic;
            color: rgb(102, 45, 19);
        }

        p {
            word-break: break-word;
            font-family: "Arabella", sans-serif;
            font-size: 7em;
            font-style: italic;
            color: rgb(102, 45, 19);

            @media (375px <=width <=440px) {
                font-size: 3em;
            }
        }

        .day {
            display: flex;
            flex-direction: column;
            align-items: center;

            &::after {
                content: "";
                width: 5px;
                height: 5px;
                margin-top: 15%;
                margin-bottom: 30%;
                transform: translateX(90%);
                background-color: rgb(102, 45, 19);
                border: 1px solid rgb(102, 45, 19);
                border-radius: 100%;
            }
        }

        .month {
            display: flex;
            flex-direction: column;
            align-items: center;

            &::after {
                content: "";
                width: 5px;
                height: 5px;
                margin-top: 15%;
                margin-bottom: 35%;
                transform: translateX(90%);
                background-color: rgb(102, 45, 19);
                border: 1px solid rgb(102, 45, 19);
                border-radius: 100%;
            }
        }
    }
}